In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [3]:
from numpy.random import randn

In [4]:
ser = Series(randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c',]])

In [5]:
ser

1  a   -1.631513
   b   -0.947801
   c   -1.154927
2  a   -2.124089
   b    0.288820
   c   -0.060756
dtype: float64

In [6]:
ser.index

MultiIndex([(1, 'a'),
            (1, 'b'),
            (1, 'c'),
            (2, 'a'),
            (2, 'b'),
            (2, 'c')],
           )

In [7]:
ser[1]

a   -1.631513
b   -0.947801
c   -1.154927
dtype: float64

In [8]:
ser[2]

a   -2.124089
b    0.288820
c   -0.060756
dtype: float64

In [9]:
ser

1  a   -1.631513
   b   -0.947801
   c   -1.154927
2  a   -2.124089
   b    0.288820
   c   -0.060756
dtype: float64

In [10]:
ser[:,'a']

1   -1.631513
2   -2.124089
dtype: float64

In [11]:
dframe=ser.unstack()

In [12]:
dframe

          a         b         c
1 -1.631513 -0.947801 -1.154927
2 -2.124089  0.288820 -0.060756

In [13]:
dframe2=DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],
                 columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])

dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [14]:
dframe2.index.names=['INDEX_1','INDEX_2']

dframe2.columns.names=['Cities','Temp']

In [15]:
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [16]:
dframe2.swaplevel('Cities','Temp',axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [24]:
dframe2.sort_index(level=0)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [25]:
dframe2.sort_index(level=1)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [28]:
dframe2.sum(level='Temp',axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27

In [29]:
pwd

'C:\\Users\\33661\\AA_Training\\Udemy\\Pandas'

In [31]:
!ls

14 - Series.ipynb
15 - DataFrame.ipynb
16 - Index Objects.ipynb
17 - Reindexing.ipynb
18 - Drop Entry.ipynb
19 - Selecting Entries.ipynb
20 - Data Alignment.ipynb
21 - Rank and Sort.ipynb
22 - Summary Statistics.ipynb
23 - Missing Data.ipynb
24 - Index Hierarchy.ipynb

In [34]:
!ls

14 - Series.ipynb
15 - DataFrame.ipynb
16 - Index Objects.ipynb
17 - Reindexing.ipynb
18 - Drop Entry.ipynb
19 - Selecting Entries.ipynb
20 - Data Alignment.ipynb
21 - Rank and Sort.ipynb
22 - Summary Statistics.ipynb
23 - Missing Data.ipynb
24 - Index Hierarchy.ipynb
myfiles.tar.gz

In [32]:
!tar czf myfiles.tar.gz 16 - Index Objects.ipynb

tar: : Couldn't visit directory: No such file or directory
tar: : Couldn't visit directory: No such file or directory
tar: : Couldn't visit directory: No such file or directory
tar: : Couldn't visit directory: No such file or directory
tar: Error exit delayed from previous errors.